body {
    font-family: 'Open Sans', sans-serif; 
    margin: 0; padding: 0;
}

html, body, #root, #root>div {
  height: 100%
}

.finder {
    width: 100%;
    height: 100%;
    display: flex;
}

.question, .results {
    width: 50%;
    padding: 20px;
}

.question {
    background-color: #2ecc71;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.question a, .question a:visited {
    color: white;
}

.question .content {
    display: flex;
    flex-direction: column; 
    height: 50%;
    width: 90%;
}

.results {
    background-color: #2c3e50;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
}

.results .c {
    width: 90%;
    margin: 0 auto;
    height: 70%;
}

.question button {
    color: #2ecc71;
    margin-left: auto;
}

button {
    text-transform: uppercase;
    box-shadow: none;
    border: 0;
    border-radius: 100px;
    background: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
}

h2 {
    font-weight: 900;
    margin-bottom: 18px;
    font-size: 30px;
    font-family: 'Merriweather';
    line-height: 45px;
}

.choices {
    margin-bottom: 9px;
}

ul {
    list-style: none;
    padding: 0;
}

.choice {
    display: flex;
    margin-bottom: 7px;
    align-items: center;
    font-size: 17px;
    font-weight: 500;
}

.progress {
    text-transform: uppercase; 
    display: flex; 
    margin-top: auto;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}

.progress button {
    margin-left: auto;
}

.radio {
    color: black;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2ecc71;
    width: 15px;
    height: 15px;
    padding: 3px;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 10px;
}

.radio i {
    width: 100%;
}

.vpn-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
}

.vpn-list li {
    border-radius: 7px;
    padding: 5px;
    margin: 3px;
}

.vpn-list li .content {
    border-radius: 5px;
    padding: 18px;
    display: flex;
    flex-direction: column; 
    background: rgb(41,128,185);
    background: linear-gradient(45deg, rgba(41,128,185,1) 0%, rgba(142,68,173,1) 100%);
}

.vpn-list li.selected {
    border: 3px solid #2980b9;
}

.content .name {
    font-family: 'Merriweather';
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 5px;
}

.content .metadata {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 400;
}

.row {
    display: flex;
    margin-bottom: 7px;
    align-items: center;
}

.row div {
    display: flex;
    text-transform: uppercase;
    font-size: 13px;
}

.row .right {
    margin-left: auto;
    font-weight: 600;
    font-size: 15px;
}

.cur-vpn {
    width: 70%;
    margin: 0 auto;
}

@media screen and (max-width: 900px) {
    .finder {
        display: grid;
        grid-auto-rows: auto;
    }
    .question, .results {
        width: 100%;
        padding: 0;
    }
    .question {
        padding-top: 20px; 
        padding-bottom: 60px;
    }
    .results {
        padding-top: 15px;
        padding-bottom: 45px;
    }
    .results .c, .question .content {
        height: 100%;
    }
}